{% extends "frontend/base.html" %}

{% block content %}

<h2 class="page-title">Edit Employee</h2>

<div class="card form-card">
<div class="card-body">

<form method="post">

    {% csrf_token %}

    <div class="mb-3">
        <label>Name</label>
        <input
            type="text"
            name="full_name"
            class="form-control"
            value="{{ employee.full_name }}"
            required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input
            type="email"
            name="email"
            class="form-control"
            value="{{ employee.email }}"
            required>
    </div>

    <div class="mb-3">

        <label>Skill</label>

        <select
            name="skills"
            class="form-control">

            <option value="BACKEND"
                {% if employee.skills == "BACKEND" %}selected{% endif %}>
                Backend
            </option>

            <option value="FRONTEND"
                {% if employee.skills == "FRONTEND" %}selected{% endif %}>
                Frontend
            </option>

            <option value="TESTING"
                {% if employee.skills == "TESTING" %}selected{% endif %}>
                Testing
            </option>

            <option value="DEVOPS"
                {% if employee.skills == "DEVOPS" %}selected{% endif %}>
                DevOps
            </option>

        </select>

    </div>

    <div class="mb-3">

        <label>Experience</label>

        <select
            name="experience_level"
            class="form-control">

            <option value="Junior"
                {% if employee.experience_level == "Junior" %}selected{% endif %}>
                Junior
            </option>

            <option value="Mid"
                {% if employee.experience_level == "Mid" %}selected{% endif %}>
                Mid
            </option>

            <option value="Senior"
                {% if employee.experience_level == "Senior" %}selected{% endif %}>
                Senior
            </option>

        </select>

    </div>

    <div class="form-check mb-3">

        <input
            type="checkbox"
            name="availbility"
            class="form-check-input"
            {% if employee.availbility %}checked{% endif %}>

        <label class="form-check-label">
            Available
        </label>

    </div>

    <button
        type="submit"
        class="btn btn-warning">

        Update Employee

    </button>

</form>

</div>
</div>

{% endblock %}